body {
    background-color: black;
    display: flex;    
    flex-direction: column;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

header {
    height: 33vh;
}

main {
    height: 33vh;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

main p {
    margin-top: 95px;
    transform: rotate(1.67deg);
    text-align: center;
}

footer {
    height: 33vh;
}