/********************* general stuff */

html {
  height: 100dvh;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}

body {
  color: #080c0e;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 3vw;
  width: 94vw;
  height: 100dvh;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  transform-origin: left;
  background-color: #fefefe;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "WONK" 1;
}

body > * {
  list-style-type: none;
}

body#index {
  gap: 0;
}

.inactive-verb {
  pointer-events: none;
  cursor: default;
  opacity: 1 !important;
}

.inactive-verb > * {
  color: #080c0e;
}

.nl {
  display: none;
}

#en {
  font-weight: bold;
}

h1 {
  font-size: 3.5vmax;
  line-height: 1.374;
}

p {
  font-size: 1em;
}

a {
  color: #080c0e;
  text-decoration: none;
}

a:hover {
  opacity: 99% !important;
}

.back-button:hover {
  color: #080c0e;
  opacity: 60%;
}

a#about-button {
  color: #080c0e;
  opacity: 60%;
  margin-top: -1em;
}

span.name {
  display: inline-block;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

main,
aside,
section,
div.images {
  /*FireFox*/
  scrollbar-width: none !important;
  /*IE10+*/
  -ms-overflow-style: none !important;
}

main::-webkit-scrollbar,
aside::-webkit-scrollbar,
section::-webkit-scrollbar,
div.images::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  overflow-y: scroll;
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
main,
aside,
section,
div.images {
  -ms-overflow-style: none !important; /* IE and Edge */

  scrollbar-width: none !important; /* Firefox */

}

/******************* index *****/

body#index {
  display: flex !important;
  flex-direction: column;
  height: 100dvh;
}

/******************************** aside */

aside {
  width: calc(94vw + 1px);
  flex: 1 1 auto;
  height: 100dvh;
  top: 0px;
  left: 3vw;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding-right: 3vw;
  padding: 0;
  z-index: 3;
  max-width: 74ch;
  min-width: 20ch;

  transition: left 0.88s ease-in-out;
  transform-origin: left;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin-bottom: 0 !important;
}

/****************************** header */

#index header {
  width: 94vw;
  margin-top: 0;
  height: auto;
  margin-bottom: 0;
}

header {
  top: 0dvh;
  width: auto;
  height: 10dvh;
  margin-bottom: 2.5dvh;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: max(1.6dvh, 34px);

}

header h2 {
  vertical-align: middle;
  margin: 0;
  margin-top: 3.2dvh;
  max-height: 10dvh;
  width: auto;
  font-size: min(2em, 2vw);
  font-weight: 900;
}

header h2 span.name {
  font-variation-settings: "SOFT" 100;
  color: #8c9193;
  opacity: 69%;
  transition: transform .77s ease-in-out;
}

header #title {
  font-style: italic;
}

header a#back-button {
  cursor: w-resize;
}

header a#about-button {
  cursor: help;
}

/***************************************** section */

section {
  height: calc(100dvh - 20dvh);
  display: flex;
  flex-direction: column;
}

section h3 {
  font-size: min(1.25em, 1.75vw);
  margin-top: 1.6dvh;
}

aside p,
aside ol,
aside ul {
  max-width: 55ch;
  font-size: 1em;
}

/* ************************** footer */

div#push {
  height: 7.5dvh;
}

#index footer {
  width: 94vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 3;
  background-color: #fefefe;
  /* margin-bottom: 3.1dvh; */
}

footer > * {
  margin-top: 3.7dvh;
}

footer p {
  margin: 0;
  font-size: 1em;
}

footer div > * {
  padding-bottom: 3.1dvh;
}

a {
  text-decoration: none;
  color: #8c9193;
  opacity: 60%;
}

header a {
  opacity: 99% !important;
}

a.external-link {
  text-decoration: none;
  color: #8c9193;
  opacity: 60%;
  cursor: alias;
  /* color: rgb(0, 0, 238); */
}

main a.external-link {
  color: rgb(0, 0, 238);
}

footer #language {
  text-align: right;
}

footer #language span {
  cursor: pointer;
}

/*********************** main */

main {
  max-height: 100dvh;
  overflow-y: scroll;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: auto;

  overflow-y: scroll;

  scroll-snap-type: y;
  scroll-snap-type: y proximity;
  min-width: 50vw;
}

figure {
  scroll-snap-align: center;
  scroll-margin-top: 0;
  scroll-margin-bottom: 0;
  scroll-snap-stop: always;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 0;
  margin-inline: 0;
  height: calc(100dvh);
  flex-basis: calc(100dvh);
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
}

figure img {
  max-height: 82dvh;
  width: auto;
  object-fit: contain;
  max-width: calc(94vw - 74ch - 3vw - 3vw);
  margin-left: auto;
  margin-right: auto;

  margin-top: auto;
  margin-bottom: auto;
  padding-top: 2dvh;
  min-width: auto;
}

figure figcaption {
  padding: 0;
  vertical-align: middle;
  flex-basis: auto;
  z-index: 1;
  align-self: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.7dvh;
  margin-bottom: 0 !important;
}

figure figcaption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

figure figcaption span.credits {
  text-align: right;
}

figure figcaption > p {
  margin: 0;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3.8dvh;
}

div#info-button a {
  color: #080c0e;
  opacity: 72%;
}

/* *************************************************** index */

#index header a {
  opacity: 60%;
  transition: opacity 0.2s;
}

#index header a:visited {
  color: #887c82;
}

span#puntje {
  cursor: pointer;
}

span#puntje-puntje {
  display: none;
}

div#language {
  font-size: 17.5px;
}

/* ******* about */

header a span#name {
  opacity: 60%;
  transition: opacity 0.2s;
}

#about figcaption {
  text-align: center;
}

/************************* websites */

#websites figure img {
  border-style: dotted;
  border: 3px 3px 3px 3px;
  padding: 3px;
}

#websites ol {
  list-style-type: lower-alpha;
}

#websites ul {
  list-style-type: none;
}

#websites ul li {
  margin-left: -42px;
  max-width: 47ch;
}

/****************************** drawing */

/* #drawing figure img {
  border-style: dotted;
  border: 3px 3px 3px 3px;
  border-color: #887c82;
} */

/*************************************** about */

section#artist-statement-and-cv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/******************************************************** responsive */

.hide-on-desktop {
  display: none;
}

@media screen and (max-width: 959px) {
  aside p,
  aside ol,
  aside ul {
    max-width: 59ch;
    /* font-size: min(1.4773vw, 1em); */
  }
}

@media screen and (max-width: 809px) {
  #index h1 {
    font-size: 3.75vmax;
  }

  .hide-on-desktop {
    display: flex;
  }

  .hide-on-mobile {
    display: none;
  }

  body {
    display: block;
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  aside {
    width: calc(94vw + 2px);
    left: -95vw;
    position: fixed;
    overflow-y: scroll;
    margin-bottom: 11dvh;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin-right: 3vw !important;
  }

  section {
    margin-top: max(1.6dvh, 34px);
  }

  section#artist-statement-and-cv {
    justify-content: initial;
  }

  header h2 {
    font-size: 24px;
    margin-top: 3.2dvh;
  }

  header h2 span.name {
    transition-delay: 0.44s;
  }

  section {
    height: auto !important;
  }

  section > h3 {
    font-size: 1.3em !important;
  }

  section > * {
    font-size: 1em !important;
  }

  main {
    transform-origin: right;
    width: 94vw;
    margin-left: 0;
  }

  figure {
    width: auto;
  }

  figure img {
    max-width: 94vw;
  }

  figcaption {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    /* padding-bottom: 12px !important; */
  }

  figcaption > * {
    vertical-align: bottom;
  }

  footer {
    width: 94vw;

    height: auto;
    position: initial;
    margin-top: auto;
    padding-bottom: 0;
  }

  footer div#contact {
    width: 63vw !important;
    flex-shrink: 0;
    height: auto;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  footer div#language {
    height: auto;
  }

}
